.ChatPannel {
  position: relative;
  width: 75rem;
  height: 75rem;
  border: 1px solid #e1e2ff;
  border-radius: 20px;
  padding: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 8.2rem;
  margin: 3.2rem;
  margin-bottom: 1.2rem;
}

.chat {
  resize: none;
  position: absolute;
  width: 70rem;
  height: 5.8rem;
  bottom: 1px;
  border: 1px solid #a5a6f6;
  border-radius: 10px;
  outline: none;
  padding-left: 3.2rem;
  padding-right: 13.2rem;
  padding-top: 1.6rem;
}
.IconParrent {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  bottom: 0.9rem;
  right: 6.2rem;
}

.sendIcon {
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  padding: 0.6rem;
  background-color: #5d5fef;
  border-radius: 10px;
  color: white;
}
.EmojiIcon {
  cursor: pointer;
  color: #5d5fef;
  width: 2.4rem;
  height: 2.4rem;
}
.Message {
  color: #f3f3f3;
  font-size: 1.4rem;
}
.MessageWrap {
  background-color: #7879f1;
  border-radius: 10px;
  padding: 0.6rem 1.2rem;
  padding-right: 1.8rem;
  width: fit-content;
  margin-top: 1.2rem;
}
.TimePar {
  font-size: 1.2rem;
  margin-top: 0.2rem;
  padding-left: 0.2rem;
}
.dmsParrent {
  max-height: 65rem;
  overflow-y: scroll;
}

.EmojiParrent {
  width: 8.2rem;
  position: absolute;
  bottom: 10rem;
}

@media (max-width: 1111px) {
  .ChatPannel {
    width: 55rem;
  }
  .chat {
    width: 50rem;
  }
}
@media (max-width: 885px) {
  .ChatPannel {
    width: 45rem;
  }
  .chat {
    width: 40rem;
  }
}

@media (max-width: 781px) {
  .ChatPannel {
    width: 35rem;
  }
  .ChatParrent {
    display: flex;
    justify-content: center;
  }
  .chat {
    width: 100%;
  }
  .IconParrent {
    gap: 1.6rem;
    bottom: 0.9rem;
    right: 2.2rem;
  }
}
@media (max-width: 627px) {
  .ChatPannel {
    height: 55rem;
  }
}

@media (max-width: 420px) {
  .ChatPannel {
    width: 24rem;
  }
}
